body {
    margin: 10px 20px;
}

label.btn input[type="checkbox"] {
    display: none;
}

label.btn input[type="checkbox"]+.fa {
    opacity: 0.1;
}

label.btn input[type="checkbox"]:checked+.fa {
    opacity: 1;
}

.table-hover tbody tr:hover td,
.table-hover tbody tr:hover th {
    background-color: #eee;
}

.box {
    margin-bottom: 10px;
    padding: 0 5px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    display: inline-block;
    border-radius: 3px;
    margin-right: 5px;
}

.box>.btn,
.box>.chk-recipe-show-chef-wrapper,
.box>.chk-chef-show-recipe-wrapper,
.box>.input-group {
    margin: 3px 0;
}

.box1 {
    margin-bottom: 10px;
}

.chk-recipe-show-chef-wrapper,
.chk-chef-show-recipe-wrapper {
    display: inline-block;
}

.chk-chef-show-recipe-wrapper .dropdown-menu {
    min-width: 215px;
}

#input-recipe-price {
    width: 60px;
}

#input-recipe-guest-antique {
    width: 150px;
}

.search-box {
    text-align: right;
}

.search-box label {
    font-weight: 400;
    white-space: nowrap;
    text-align: left;
}

.search-box input {
    margin-left: .5em;
    display: inline-block;
    width: auto;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 50;
}

.loading h1 {
    color: #333;
    animation: pulse 2.5s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
        opacity: .5;
    }
    50% {
        transform: scale(1.1, 1);
        opacity: 1;
    }
    100% {
        transform: scale(1, 1);
        opacity: .5;
    }
}

.paginationjs-pages ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

.paginationjs-pages li {
    display: inline-block;
}

.paginationjs-pages,
.paginationjs-nav {
    display: inline-block;
}

.paginationjs-pages li a {
    margin-right: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paginationjs-pages li.disabled a {
    color: #ccc;
}

#input-chef-stirfry,
#input-chef-boil,
#input-chef-knife,
#input-chef-fry,
#input-chef-bake,
#input-chef-steam {
    width: 50px;
}

.btn-cal-results-cal .glyphicon {
    top: 2px;
}

.pane-cal-results {
    position: relative;
    min-height: 85vh;
}

.cal-results-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 100;
}

.cal-results-progress .progress {
    position: relative;
}

.cal-results-progress .progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
}

.cal-results-progress .progress-bar {
    -webkit-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
}

.tab-content {
    padding-top: 10px;
}

#pane-cal .tab-content {
    padding-left: 10px;
    padding-right: 10px;
}

#pane-info {
    padding-left: 15px;
}

.table-hover tbody tr.selected:hover td {
    background-color: #eee;
}

table.dataTable tbody td.selected,
table.dataTable tbody th.selected,
table.dataTable tbody tr.selected {
    color: #333;
}

table.dataTable tbody>tr.selected,
table.dataTable tbody>tr>.selected {
    background-color: #e3ebef;
}

.selected-sum {
    text-align: center;
    color: #337ab7;
    font-weight: bold;
    font-size: 20px;
}

.box .input-group {
    display: inline-table;
    vertical-align: middle;
}

.box .input-group .form-control,
.box .input-group .input-group-addon,
.box .input-group .input-group-btn {
    width: auto;
}

.tabs-left {
    display: table;
    width: 100%;
}

.tabs-left>.nav-tabs {
    display: table-cell;
    width: 90px;
    border-bottom: 0;
    border-right: 1px solid #ddd;
}

.tabs-left>.nav-tabs>li {
    float: none;
    text-align: center;
}

.tabs-left>.nav-tabs>li>a {
    margin-bottom: 3px;
    margin-right: -1px;
    border-radius: 4px 0 0 4px;
}

.tabs-left>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover,
.tabs-left>.nav-tabs .active>a:focus {
    border-color: #ddd transparent #ddd #ddd;
    border-right-color: #ffffff;
}

.tabs-left>.tab-content {
    display: table-cell;
}

.form-control.input-addition {
    width: 60px;
    text-align: center;
}

#input-cal-all-results-show-top {
    width: 40px;
}

.cal-td-input-addition .form-control {
    width: 60px;
}

.cal-td-input-quantity .form-control {
    width: 60px;
}

.bootstrap-select.btn-group .dropdown-menu li a {
    color: #333;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: inherit;
}

.bs-actionsbox .btn-group button {
    width: 100%;
}

#cal-self-select-table td {
    height: 20px;
}

#cal-self-select-table .cal-td-quantity .form-control {
    width: 60px;
}

#cal-self-select-table .cal-td-chef-name,
#cal-self-select-table .cal-td-recipe-name,
#cal-self-select-table .cal-td-equip-name,
#cal-self-select-table .cal-td-quantity {
    background-color: rgba(0, 0, 0, 0.05);
}